body {
    background: var(--blue);
}

header {
    background: #111;
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #555;
    font-size: 14px;
}
.content {
    margin: 150px 50px 50px 50px;
    background: #fff;
}

.content h3 {
    text-align: center;
    padding: 40px 0 10px 0;
    font-weight: 800;
    font-size: 25px;
}

.paragraph {
    padding: 30px;
}
.paragraph h4 {
    padding-bottom: 10px;
}
.paragraph .quotation {
    font-style: italic;
    text-align: center;
    font-weight: 300;
    padding: 14px 0;
}
.paragraph img {
    max-width: 500px;
}
.paragraph .images {
    text-align: center;
    margin: 50px 0 0 0;
}
.paragraph figcaption, .content .video {
    color: #555;
    font-size: 14px;
}
ul, ol {
    list-style-position: inside;
}
.video {
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}
.video video {
    max-width: 550px;
}
.content .video {
    text-align: center;
}
iframe {
    width: 560px;
    height: 315px;
}
.maths {
    text-align: center;
    margin: 10px 0;
}
/* Different media styles */
@media (max-width: 1000px) {

}
@media (max-width: 750px) {
    .content {
        margin: 100px 30px 30px 30px;
    }
    .paragraph img {
        max-width: 85%;
    }
    .paragraph .images {
        margin: 30px 0 0 0;
    }
    .video video {
        max-width: 85%;
    }
    iframe {
        width: 90%;
    }
}
