/* Banner in home page */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--blue), transparent);
    z-index: 100;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.banner .text {
    text-align: center;
    transform: translateY(-50px);
    z-index: 10000;
}
.banner .text h2 {
    color: #fff;
    font-size: 6em;
}
.banner .text p {
    color: #fff;
    font-size: 1.5em;
}



/* About section */
.about {
    background: var(--blue);
    padding: 240px 100px;
}
.about .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}   
.about .content .image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    flex: 0 0 300px;
}
.about .content .image img {
    width: 100%;
}
.about .content .text {
    margin: 20px;
}
.about h3 {
    font-size: 2.5em;
}
.about p {
    padding-top: 20px;
    font-size: 1.2em;
}


/* My Work section */
.myWork {
    background: #111;
    padding: 150px 100px;
}
.myWork h3 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.myWork .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.myWork .content .box {
    position: relative;
    max-width: 800px;
    background: #fff;
    margin: 10px 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: center;
}
.myWork .image {
    width: 300px;
    height: 300px;
    flex: 0 0 300px;
    overflow: hidden;
}
.myWork .image img {
    height: 100%;
}
.myWork h4 {
    color: var(--blue);
}
.myWork .text {
    padding-left: 20px;
}


/* Contact section */
.contact {
    background: var(--blue);
    padding: 200px 100px 220px 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.contact .content {
    width: 50%;
}
.contact .content h3 {
    font-size: 2.5em;
    margin-top: 40px;
}
.contact .content p {
    padding-top: 20px;
    font-size: 1.2em;
}
.contact-form {
    margin-top: 30px;
    margin-left: 20px;
    width: 80%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}
.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .input-box input, textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
    color: var(--blue);
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .input-box input[type="submit"] {
    width: 100px;
    background: var(--blue);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* Different media styles */
@media (max-width: 1000px) {
    .about {
        padding: 100px 50px;
    }
    .about .content {
        flex-direction: column;
    }
    .about h3 {
        padding-top: 40px;
        text-align: center;
    }
    .myWork .content {
        flex-direction: column;
    }
    .contact {
        flex-direction: column;
        padding: 100px 0 150px 0;
        text-align: center;
    }
    .contact .content {
        width: 80%;
    }
}
@media (max-width: 750px) {
    .about .content .text {
        padding: 0;
    }
    .about h3 {
        font-size: 2em;
    }
    .myWork {
        padding: 100px 0;
    }
    .myWork h3 {
        padding-bottom: 5px;
    }
    .myWork .text {
        text-align: center;
    }
    .myWork .content .box {
        width: 80%;
        flex-direction: column;
    }
    .contact {
        padding: 80px 0 120px 0;
    }
}
