.content .paragraph .box {
    background: var(--blue);
    border-radius: 20px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.content .paragraph .box video {
    max-width: 200px;
    margin: 0 20px;
}
h4 {
    text-align: center;
    font-size: 18px;
}
.content .paragraph .text {
    font-weight: 400;
}
.content .paragraph .text h5 {
    font-size: 16px;
}
.content .paragraph a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 750px) {
    .content .paragraph .box {
        flex-direction: column;
        text-align: center;
        height: 250px;
        
    }
}
